<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/favicon.ico">
  <script src="https://at.alicdn.com/t/font_2072967_1pfwh3ikjzp.js"></script>
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_2072967_1kh3vdkbles.css">
  <title>
    <?=$title?>
  </title>
  <script>
  let origin = window.location.origin;
  var $_W = {
    AppURL: origin + "/index.php?q=",
    AppWEB: origin + "/index.php?r=wechat",
    AppID: "98c08c25f8136d590c",
    Copyright: "Powered By Leadshop © 2021",
    AppName: "leadmall",
    AppAlias: "fitment",
    AppSecret: "3AYpU16dZ1CY7ejqvrE39B351vanLJVD",
    AppConfig: {
      defaultRoute: "index/index",
      loginURL: "/api/leadmall/login",
      loginPage: "/login/index"
    }
  }
  </script>
  <link href="/assets/admin/css/channel-appletsInfo.383036a8.css" rel="prefetch">
  <link href="/assets/admin/css/channel-appletsPay.07e2f9ce.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatDeploy.aaa87604.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatInfo.bf2e002c.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatPay.b021fffb.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-0a808a8c.e1ba56ab.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-171272ce.7e6781bf.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-1a750f72.81d77177.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-1b34d7ac.b8eb3b56.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-25ccc4b8.d5c6f0d2.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-2fccff14.ab958bb0.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-3f30fe6a.630deab5.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-3feaba58.333bbae3.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-57978f68.d6c69440.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-5d429aaa.0fb6d74e.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-6918de29.2010fbcc.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-74382fc8.240ff63c.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-7d6a325f.27780820.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-af7213ce.84ad429c.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-c4113c1a.7458b866.css" rel="prefetch">
  <link href="/assets/admin/css/error-401.d430b095.css" rel="prefetch">
  <link href="/assets/admin/css/error-404.d430b095.css" rel="prefetch">
  <link href="/assets/admin/css/error-500.d430b095.css" rel="prefetch">
  <link href="/assets/admin/css/finish-index.3a16be9e.css" rel="prefetch">
  <link href="/assets/admin/css/finish-screen.33e3a28d.css" rel="prefetch">
  <link href="/assets/admin/css/finish-tabbar.10ed39c4.css" rel="prefetch">
  <link href="/assets/admin/css/goods-collect-edit.4338a2b8.css" rel="prefetch">
  <link href="/assets/admin/css/goods-collect-list.a8eceb38.css" rel="prefetch">
  <link href="/assets/admin/css/goods-goodsExportHistory.92539d8d.css" rel="prefetch">
  <link href="/assets/admin/css/goods-group-publish.e6d0d454.css" rel="prefetch">
  <link href="/assets/admin/css/goods-group.7e96f1e3.css" rel="prefetch">
  <link href="/assets/admin/css/goods-groupTemplate.8f34701f.css" rel="prefetch">
  <link href="/assets/admin/css/goods-index.66189e38.css" rel="prefetch">
  <link href="/assets/admin/css/goods-interfaceSet.0d76ad03.css" rel="prefetch">
  <link href="/assets/admin/css/goods-publish.2f0c040d.css" rel="prefetch">
  <link href="/assets/admin/css/goods-service-publish.75d0226c.css" rel="prefetch">
  <link href="/assets/admin/css/goods-service.1ca664df.css" rel="prefetch">
  <link href="/assets/admin/css/order-bulkShipping.18d8ff4f.css" rel="prefetch">
  <link href="/assets/admin/css/order-logisticsSettings.fd86c2af.css" rel="prefetch">
  <link href="/assets/admin/css/package-index.a88058ad.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-details.2c246296.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-features.7f8b27a5.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-practical.e6c458c8.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-tools.8642727b.css" rel="prefetch">
  <link href="/assets/admin/css/setup-appletsRemind.9639b48c.css" rel="prefetch">
  <link href="/assets/admin/css/setup-smsRemind.70db341e.css" rel="prefetch">
  <link href="/assets/admin/css/setup-system.4ba809ff.css" rel="prefetch">
  <link href="/assets/admin/css/setup-wechatRemind.32898c37.css" rel="prefetch">
  <link href="/assets/admin/css/store-changelog.3c99e4fa.css" rel="prefetch">
  <link href="/assets/admin/css/store-pagePreview.cc7885df.css" rel="prefetch">
  <link href="/assets/admin/css/store-update.182edb64.css" rel="prefetch">
  <link href="/assets/admin/css/users-editLabel.f05aa48d.css" rel="prefetch">
  <link href="/assets/admin/css/users-userLabel.c7ed7c26.css" rel="prefetch">
  <link href="/assets/admin/js/channel-appletsInfo.447260fc.js" rel="prefetch">
  <link href="/assets/admin/js/channel-appletsPay.b5109fbb.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatDeploy.e9b0749d.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatInfo.9dbb72f7.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatPay.14299fb4.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-0a808a8c.4d41d2e4.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-171272ce.50e9ad74.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-1a750f72.9c299b99.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-1b34d7ac.4185b87c.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-25ccc4b8.fadb7e66.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0c774e.2c0fcb4f.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0e24b5.aa4de37d.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0efcfc.50e96feb.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2fccff14.77de4f31.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-3f30fe6a.7488bfb1.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-3feaba58.b4160ad5.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-57978f68.d7d31fca.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-5d429aaa.0dfe30aa.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-6918de29.69a12e8c.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-74382fc8.1c54cfc8.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-7d6a325f.f5bb547d.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-af7213ce.d83cf99b.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-c4113c1a.10b0267b.js" rel="prefetch">
  <link href="/assets/admin/js/error-401.ca1ea0a1.js" rel="prefetch">
  <link href="/assets/admin/js/error-404.5f8d3d73.js" rel="prefetch">
  <link href="/assets/admin/js/error-500.4d700062.js" rel="prefetch">
  <link href="/assets/admin/js/finish-index.4f42c493.js" rel="prefetch">
  <link href="/assets/admin/js/finish-screen.69995f39.js" rel="prefetch">
  <link href="/assets/admin/js/finish-tabbar.cf52f4d8.js" rel="prefetch">
  <link href="/assets/admin/js/goods-collect-edit.aafa7037.js" rel="prefetch">
  <link href="/assets/admin/js/goods-collect-list.f3dfb879.js" rel="prefetch">
  <link href="/assets/admin/js/goods-goodsExportHistory.e8a74b09.js" rel="prefetch">
  <link href="/assets/admin/js/goods-group-publish.15eb0000.js" rel="prefetch">
  <link href="/assets/admin/js/goods-group.c0451484.js" rel="prefetch">
  <link href="/assets/admin/js/goods-groupTemplate.21056509.js" rel="prefetch">
  <link href="/assets/admin/js/goods-index.b592888c.js" rel="prefetch">
  <link href="/assets/admin/js/goods-interfaceSet.a3995738.js" rel="prefetch">
  <link href="/assets/admin/js/goods-publish.f41bf0e0.js" rel="prefetch">
  <link href="/assets/admin/js/goods-service-publish.320a3c7f.js" rel="prefetch">
  <link href="/assets/admin/js/goods-service.7e60cf16.js" rel="prefetch">
  <link href="/assets/admin/js/order-bulkShipping.a66550c0.js" rel="prefetch">
  <link href="/assets/admin/js/order-logisticsSettings.227d116c.js" rel="prefetch">
  <link href="/assets/admin/js/package-index.41f5cf76.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-details.dae3ab8a.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-features.86b90bb8.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-practical.f02dc2a7.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-tools.be852562.js" rel="prefetch">
  <link href="/assets/admin/js/setup-appletsRemind.7eaf8f51.js" rel="prefetch">
  <link href="/assets/admin/js/setup-smsRemind.0a5c87c3.js" rel="prefetch">
  <link href="/assets/admin/js/setup-system.52f2697e.js" rel="prefetch">
  <link href="/assets/admin/js/setup-wechatRemind.5df798a9.js" rel="prefetch">
  <link href="/assets/admin/js/store-changelog.b9979e45.js" rel="prefetch">
  <link href="/assets/admin/js/store-pagePreview.b831b1c9.js" rel="prefetch">
  <link href="/assets/admin/js/store-update.5081b598.js" rel="prefetch">
  <link href="/assets/admin/js/users-editLabel.a376e3fe.js" rel="prefetch">
  <link href="/assets/admin/js/users-userLabel.2d1effe3.js" rel="prefetch">
  <link href="/assets/admin/css/app.abfbd683.css" rel="preload" as="style">
  <link href="/assets/admin/js/app.c08526fa.js" rel="preload" as="script">
  <link href="/assets/admin/js/vendors.724edaea.js" rel="preload" as="script">
  <link href="/assets/admin/css/app.abfbd683.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
  <div id="app"></div>
  <script src="/assets/admin/js/vendors.724edaea.js"></script>
  <script src="/assets/admin/js/app.c08526fa.js"></script>
</body>

</html>
